profiles {
    conda {
        conda.enabled = true
        process.conda = "/path/to/conda/envs/env-name/"
        params.outdir = "results"
        params.genome = "data/genome/genome.fasta"
        params.reads = "data/trimmed_reads/*_{1,2}.trim.fastq.gz"
    }

    docker {
        params.outdir = "results"
        params.genome = "data/genome/genome.fasta"
        params.reads = "data/trimmed_reads/*_{1,2}.trim.fastq.gz"

        docker.enabled = true
        process.container = "docker.io/milesbailey121/variant-calling:latest"
        docker.runOptions = '-u \$(id -u):\$(id -g)'
    }
    aws {
        params.reads = "s3://bucket-name/reads/*_{1,2}.trim.fastq.gz"
        params.genome = "s3://bucket-name/genome/genome.fasta"
        params.outdir = "s3://bucket-name/results"

        process.executor = "awsbatch"
        process.queue = "queue-name"
        process.container = "docker.io/milesbailey121/variant-calling:latest"
        workDir = "s3://bucket-name/work"
        aws.region = "aws-region"
    }   
    local {
        // Runs in local environment
    }
}